$am-colors: (
  blacked: (
    base: #141415,
  ),
  darkgreyed: (
    base: #333333,
  ),
  greyed: (
    base: #7d7d7d,
  ),
  lightgreyed: (
    base: #e8e9e9,
  ),
  bordered: (
    base: #dddce0,
  ),
  blued: (
    base: #1f5eff,
  ),
  background: (
    base: #f8f8f8,
  ),
  greened: (
    base: #53b7a1,
  ),
  redded: (
    base: #f28181,
    secondary: #ffeded,
  ),
);
