.blacked {
  color: #141415;
}
.darkgreyed {
  color: #333333;
}
.greyed {
  color: #7d7d7d;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.object-sants {
  font-family: "Object Sans", sans-serif;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.heading-1 {
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
}
@media screen and (max-width: 768px) {
  .heading-1 {
    font-size: 32px;
    line-height: 32px;
    text-align: left;
  }
}
.subtitle-1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
}
.subtitle-2 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.price-1 {
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.price-2 {
}
.common-1 {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
}
