.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 95px;
  gap: 8px;

  &__heading {
    display: flex;
    justify-content: space-between;

    width: 60%;

    gap: 20px;
  }
}
